/* Your CSS goes here! */

body {
    font-family: Avenir, Calibri, sans-serif;
    text-align: center;
}
header, section {
    max-width: 1024px;
    margin: 0 auto!important;
    border: 1px solid blue;
    text-align: left;
}
h2 {
    font-size: 1.25rem;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /*border: 2px solid blue;*/
    padding: 0;
    margin: 0;
}
nav ul li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

}

nav ul li a {
    /*text-decoration: none;*/
    /*color: hsl(200, 100%, 30%);*/
    /*font-weight: 700;*/
}

a {
    text-decoration: none;
    font-weight: 600;
    color: hsl(200, 100%, 40%);
}
a:hover {
    color: hsl(200, 100%, 50%);
}